// Header
.header{
    height: 87px;
    position: relative;


    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo{
        margin-right: 32px;
    }
    &__nav{
        width: 100%;
        margin-right: 32px;
        display: flex;
        justify-content: center;
        height: 40px;
        background-color: #eeeeee;
        align-items: center;
        padding-top: 3px;
        a{
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            color: $text;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 100%;
            padding-left: 5px;
            padding-right: 5px;
            margin-right: 10px;

            &:last-child{
                margin-right: 0;
            }
            &:hover{
                text-decoration: none;
                opacity: 0.7;
            }
        }
    }
    &__lang{
        display: flex;
        height: 40px;
        padding-right: 40px;
        background-color: $bg;
        align-items: center;
        padding-top: 3px;
        padding-left: 53px;
        a{
            font-size: 12px;
            z-index: 2;
            font-weight: 400;
            text-transform: uppercase;
            color: $text;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 100%;
            padding-left: 5px;
            padding-right: 5px;
            margin-right: 10px;

            &:last-child{
                margin-right: 0;
            }
            &:hover{
                text-decoration: none;
                opacity: 0.7;
            }
        }

        &:after{
            content: "";
            height: 40px;
            background-color: $bg;
            width: 17%;
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -20px;
            z-index: 0;
        }
        
    }

    .link-active{
        position: relative;
        color: $main;
        &:after{
            content: "";
            width: 100%;
            height: 6px;
            background-color: $main;
            bottom: 0;
            left: 0%;
            position: absolute;

        }

        &:hover{
            opacity: 1;
        }
    }
    
}

// Header