@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cx4w6z');
  src:  url('fonts/icomoon.eot?cx4w6z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cx4w6z') format('truetype'),
    url('fonts/icomoon.woff?cx4w6z') format('woff'),
    url('fonts/icomoon.svg?cx4w6z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lleft:before {
  content: "\e911";
  color: #00599d;
}
.icon-rright:before {
  content: "\e917";
  color: #00599d;
}
.icon-home:before {
  content: "\e90f";
  color: #00599d;
}
.icon-table:before {
  content: "\e910";
}
.icon-paper:before {
  content: "\e912";
  color: #636466;
}
.icon-think:before {
  content: "\e913";
  color: #636466;
}
.icon-tv:before {
  content: "\e914";
  color: #636466;
}
.icon-mess:before {
  content: "\e915";
  color: #636466;
}
.icon-portf:before {
  content: "\e916";
  color: #636466;
}
.icon-menu:before {
  content: "\e90e";
  color: #636466;
}
.icon-pr_prev:before {
  content: "\e90c";
  color: #d3e1ea;
}
.icon-pr-next:before {
  content: "\e90d";
  color: #d3e1ea;
}
.icon-arrow:before {
  content: "\e90b";
  color: #fff;
}
.icon-back:before {
  content: "\e90a";
}
.icon-mail:before {
  content: "\e908";
}
.icon-placeholder:before {
  content: "\e909";
}
.icon-prev:before {
  content: "\e905";
}
.icon-down:before {
  content: "\e907";
}
.icon-next:before {
  content: "\e906";
}
.icon-fb:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-insta:before {
  content: "\e904";
}
.icon-glass:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e900";
}
