@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?74w73k');
  src:  url('fonts/icomoon.eot?74w73k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?74w73k') format('truetype'),
    url('fonts/icomoon.woff?74w73k') format('woff'),
    url('fonts/icomoon.svg?74w73k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e908";
}
.icon-placeholder:before {
  content: "\e909";
}
.icon-prev:before {
  content: "\e905";
}
.icon-down:before {
  content: "\e907";
}
.icon-next:before {
  content: "\e906";
}
.icon-fb:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-insta:before {
  content: "\e904";
}
.icon-glass:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e900";
}
