// main
@import 'settings';
@import 'libs';


html, body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: $Roboto;
  color: $text;
  box-sizing: border-box;
  position: relative;
  *{
    box-sizing: border-box;
  }
}
body{
    padding-top: 140px;
    background: url("../img/back.png");
    background-position: top left;
    background-size: contain;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

button{
  outline:none;
  border: none;
}

input{
  outline: none;
}

h1, h2, h3, h4, p{
  margin: 0;
  padding: 0;
}

// import files of blocks [Basic]d
@import "../../blocks/section/section";

// Index
@import "../../blocks/header/header";
@import "../../blocks/blog/blog";
@import "../../blocks/service/service";
@import "../../blocks/process/process";
@import "../../blocks/review/review";
@import "../../blocks/main/main";
@import "../../blocks/projects/projects";
@import "../../blocks/techno/techno";
@import "../../blocks/partners/partners";








// Footer :)
@import "../../blocks/footer/footer";



// importing media queries
@import "media";
