@import 'settings';

@media screen and (max-width: 1327px){
  .section{
    &__wrapper{
       width: 100%;
       padding-left: 20px;
       padding-right: 20px;
    }
  }
  .blog{
    &__posts{
      width: 70%;
    }
    &__sidebar{
    }
  }
}