.career{
    &__wrapper{
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
    }

    &__page{
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        transition: 0.5s all;
    }

    &__body{
        width: 75%;
        background: white;
        padding-top: 35px;
        transition: 0.5s all;

    }

    &__block{
        display: flex;
        flex-direction: column;
        display: none;
        &:first-child{
            display: flex;
        }

    }
    &__title{
        font-size: 36px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 30px;
        padding-left: 45px;
    }

    &__action{
        color: white;
        display: flex;
        
        &-block{
            font-size: 16px;
            background-color: #cd1338;
            font-weight: 400;
            height: 64px;
            display: flex;
            color: white;
            width: 100%;
            align-items: center;
            padding-left: 45px;
            span{
                &:first-child{
                    margin-right: 60px;
                }
            }
        }
    }

    &__button{
        margin-left: 15px;
        background-color: #cd1338;
        font-weight: 400;
        color: white;
        max-width: 250px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            text-decoration: none;
            background: $main;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        transition: 0.5s all;
        padding-right: 20px;
        h4{
            margin-top: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            line-height: 1;
            padding-left: 45px;
            position: relative;
            color: #00477d;
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 10px;

            &:before{
                content: "";
                width: 9px;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                background-color: #00599d;
            }
        }

        p{
            font-size: 14px;
            font-weight: 400;
            padding-left: 45px;
            margin-bottom: 10px;
        }
    }
    &__side{
        max-width: 311px;
        width: 100%;
        background-color: #ffffff;
        padding-top: 98px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;
        transition: 0.5s all;

        &-img{
            margin-top: 40px;
            margin-bottom: 30px;
        }
    }

    .side-active{
        transition: 0.5s all;

        .career__side{
            max-width: 90px;
            transition: 0.5s all;
        }
        .icon-back{
            transition: 0.5s all;

            &:before{
                display: block;
                transform: rotate(180deg);
            }
        }
        .career__body{
            width: 100%;
        }
        .career__list{
            display: none;
        }
        .career__phone{
            display: none;
        }
        img{
            display: none;
        }
    }

    .career-back{
        position: absolute;
        left: 30px;
        transition: 0.5s all;
        top: 35px;
        font-size: 22px;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }
    .icon-back{
        &:before{
        }
    }

    ul{
        margin-top: 0;
        width: 100%;
        padding: 0;
        li{
            width: 100%;
            cursor: pointer;
            list-style: none;
            padding-left: 30px;
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            padding-top: 20px;
            padding-bottom: 20px;
            z-index: 999;
            position: relative;
            &:hover{
                cursor: pointer;
                background: $bg;
                &:after{
                    font-family: icomoon!important;
                    speak: none;
                    font-style: normal;
                    font-weight: 400;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    content: "\e90b";
                    position: absolute;
                    right: 12px;
                    font-size: 22px;
                }
            }
        }

        .active-career{
            color: white;
            background:  #cd1338;

            &:after{
                font-family: icomoon!important;
                speak: none;
                font-style: normal;
                font-weight: 400;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                content: "\e90b";
                position: absolute;
                right: 12px;
                font-size: 22px;
            }

            &:hover{
                background:  #cd1338;                
            }
        }
    }
    
    &__phone{
        margin-left: 30px !important;
        margin-right: 20px;
        box-sizing: border-box;
        height: 104px;
        background-color: #efefef;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        span{
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 15px;
        }
        a{
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            color: $text;
        }
    }
}


.popup{
        background: rgba($text, 0.7);
      background-size: cover;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999999;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      padding-bottom: 100px;
      overflow: auto;
      display: none;

    &__wrapper{
        background: white;
        position: relative;
        width: 915px;
        padding: 49px 64px;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fa-times{
        color: $text;
        font-size: 24px;
        position: absolute;
        right: 40px;
        top: 40px;
        cursor: pointer;
    }
    span{
        font-size: 20px;
        margin-bottom: 20px;
    }
    input{
        margin-bottom: 20px;
        width: 45%;
        text-align: center;
        height: 45px;
        color: $text;
    }
    button{
        height: 40px;
        width: 45%;
        font-size: 20px;
        cursor: pointer;
    }
}
.cmenu-button{
    display: none;
}

@media screen and (max-width: 1160px){
    .career__page{
        position: relative;
        flex-direction: column;
    }
    .career__side {
        position: absolute;
        left: -200%;
        top: 0;
        margin-right: 0;
        background: white;
        z-index: 9;
        box-shadow: rgba(0, 0, 0, 0.23) 0px 1px 0.94px 0.06px;

    }
    .career__body{
        width: 100%;
    }
    .career__phone{
        margin-left: 0 !important;
        margin-right: 0 ;
    }
    .cmenu-button{
        display: block;
        width: max-content;
        height: max-content;
        text-decoration: none;
        color: $text;
        background: white;
        padding: 20px 15px;
        margin-bottoms: 10px;
        font-size: 22px;
        b:before{
            display: block;
            transform: rotate(180deg);
        }
        &:hover{
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 810px){
    .career__action{
        flex-direction: column;
        align-items: center;

        &-block{
            justify-content: center;
            padding-left: 0;
        }
    }
    .career__button{
        height: 64px;
        margin-left: 0;
        margin-top: 10px;
    }
    .career__title{
        line-height: 1;
        text-align: center;
        padding-left: 0;
    }
}

@media screen and (max-width: 530px){
    .career__action-block{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        span{
            margin-bottom: 5px;
        }
    }
    .career__title{
        font-size: 25px;
    }
    .career__info h4{
        font-size: 25px;
        padding-left: 25px;
    }
    .career__info p{
        padding-left: 25px;
    }
}

@media screen and (max-width: 400px){
    .career__button{
        max-width: 100%;
    }
}
@media screen and (max-width: 450px){
    .career__side{
        max-width: 100%;
    }
}