// Footer
.footer{
    padding-top: 34px;
    background-color: #f1f1f1;
    padding-bottom: 40px;
    &__wrapper{
            display: flex;
            justify-content: center;
    }

    &__col{
        display: flex;
        flex-direction: column;

        &:first-child{
            max-width: 411px;
            width: 100%;
            margin-right: 95px;
            img{
                margin-bottom: 35px;
            }
            p{
                font-size: 12px;
                font-weight: 400;
                a{
                    text-transform: lowercase;
                }
            }
        }
        a{
            font-size: 12px;
            font-weight: 400;
            color: $text;
        }

        &:nth-child(2){
            a{
                text-transform: uppercase;
                line-height: 1;
                margin-bottom: 10px;

            }
        }

        &:last-child{
            margin-left: 53px;
            
        }
        nav{
            display: flex;
            flex-direction: column;
        }
    }
    

    &__soc{
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        color: $main;
        margin-bottom: 22px;
        &-list{
            display: flex;
            
            a{
                width: 33px;
                height: 33px;
                border-radius: 50%;
                color: white;
                display: flex;
                align-items: center;
                background: $main;
                justify-content: center;
                margin-right: 17px;
                &:hover{
                    text-decoration: none;
                }

                &:last-child{
                    margin-right: 0;
                }
                b{
                    font-size: 15px;
                }
            }
        }
    }
    .footer-active{
        color: $main;
        &:hover{
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 1000px){
    .footer{
        &__wrapper{
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        &__col{
            &:last-child{
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .footer{
        &__wrapper{
            flex-wrap: wrap;
            justify-content: center;
        }

        &__col{
            display: none;
            &:first-child{
                width: 100%;
                margin: 0;
                display: flex;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1110px){
    .service__img {
        height: auto;
        width: 100%;
    }
    .review .section__descr {
        width: 80%;
    }
}
@media screen and (max-width: 1300px){
   
    .review .section__descr {
        width: 80%;
    }
}

@media screen and (max-width: 860px){
   .review__item{
       flex-direction: column;
       align-items: center;
   }
   .review .owl-nav {
    top: 15%;
   }
   .review__item-text{
       margin-top: 20px;
   }
}
@media screen and (max-width: 590px){
    .review__slider{
        width: 100%;
    }
    .review .owl-nav{
        width: 100%;
        left: 0;
    }
    .review{
        .icon-prev{
            margin-left: 0 !important;
        }
        .icon-next{
            margin-right: 0 !important;
        }
    }
    .review__item-text{
        margin-left: 0;
    }
    .review .section__descr{
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .service__img{
        margin-bottom: 20px;
        margin-top: 0;
    }
    .review__slider{
        margin-top: 30px;
    }
}
@media screen and (max-width: 440px){
    .review__item-text p{
        font-size: 13px;
    }
    .review .section__descr{
        font-size: 13px;
        line-height: 1.1;
    }
    .review__item-img{
        height: 150px;
        width: 150px !important;
    }
    .review__item-col{
        align-items: center;
    }
}
