.about{
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .section__title{
        text-align: left;
    }
    &__col{
        display: flex;
        flex-direction: column;
        width: 49%;

        &:first-child{
            padding-left: 23px;
        }

        &:last-child{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__img{
        width: 100%;
        height: auto;
    }

    &__text{
        p{
            font-size: 16px;
            font-weight: 400;
        } 
    }
    .process__slider{
        width: 80% !important;
    }
    
}
@media screen and (max-width: 850px){
    .about__wrapper{
        flex-direction: column;
        width: 100%;
    }
    .about__col:first-child{
        padding-left: 0;
    }

    .about__col{
        width: 100%;
    }
    .process__slider{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 600px){
    .about__text p{
        font-size: 14px;
    }

}
@media screen and (max-width: 500px){
    .dynamics{
        margin-top: 50px !important;
    }
    .process__slider{
    margin-top: 30px;
    margin-bottom: 0;
}
}