.projects{
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section__title{
        margin-top: 40px;
    }
    .section__descr{
        width: 47%;
    }

    &__static{
        position: relative;
        height: 450px;
        width: 100%;

        .pr-1{
            position: absolute;
            left: 10%; 
            top: 5%;
        }

        .pr-2{
            position: absolute;
            right: 50%;
            bottom: 0;
            margin-right: -350px;
        }

        .pr-3{
            position: absolute;
            top: 9%;
            right: 17%;
        }

        span{
            font-size: 29px;
            font-weight: 500;
            color: $main;
            position: absolute;
            line-height: 1;
            b{
                font-weight: 500;
                font-size: 36px;
            }
        }

        .pr-4{
            left: 46%;
            top: 57%;
        }
        .pr-5{
            right: 32%;
            top: 38.5%;
        }
        .pr-6{
            right: 5%;
            top: 16%;
        }   
    }

    &__years{
        display: flex;
        border-top: 7px solid $main;
        border-radius: 2px;
        width: 90%;
        padding-left: 30px;
        margin-top: -50px;
        z-index: 9;
    }

    &__col{
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        position: relative;
       
        &:nth-child(1){
            width: 14%;
            .projects{
                &__year{
                    width: 30px;
                    height: 30px;
                    font-size: 10px;
                    top: -17px;
                    left: -15px;
                }
            }
        }

        &:nth-child(2){
            width: 16%;
            .projects{
                &__year{
                    width: 44px;
                    height: 44px;
                    font-size: 15px;
                    top: -25px;
                    left: -22px;
                }
            }
        }

        &:nth-child(3){
            width: 16%;

            .projects{
                &__year{
                    width: 55px;
                    height: 55px;
                    font-size: 20px;
                    top: -32px;
                    left: -27.5px;
                }
            }
        }

        &:nth-child(4){
            width: 17%;

            .projects{
                &__year{
                    width: 78px;
                    height: 78px;
                    font-size: 27px;
                    top: -45px;
                    left: -39px;
                }
            }
        }

        &:nth-child(5){
            width: 18%;

            .projects{
                &__year{
                    width: 107px;
                    height: 107px;
                    font-size: 35px;
                    top: -60px;
                    left: -53.5px;
                }
            }
        }

        &:nth-child(6){
            width: 19%;

            .projects{
                &__year{
                    width: 140px;
                    height: 140px;
                    font-size: 48px;
                    top: -78px;
                    left: -70px;
                }
            }
        }
    }

    &__blocks{
        display: flex;
        flex-direction: column;
        overflow-y: visible;
        height: 230px;
        overflow: hidden;
        overflow-y: auto;

    }
    &__block{
        padding-left: 12px;
        position: relative;
        margin-right: 13px;


        &_pre{
            margin-left: 5px;
            border-left: 3px solid $main;
            width: 100%;
            height: 10000%;
        }

        p{
            font-size: 12px;
            line-height: 1;
            font-weight: 400;
            color: $main;
            padding-bottom: 15px;
            word-wrap: break-word;
        }

        &-circle{
            width: 11px;
            height: 11px;
            background-color: $main;
            display: block;
            position: absolute;
            border-radius: 50%;
            top: 0;
            left: -7px;
        }
    }
    &__block_first{
        height: 100px;
        border-left: 3px solid $main;
        margin-left: 5px;
        &:before{
            content: none;
        }
    }

    &__year{
        border: 2px solid $main;
        background-color: #ffffff;
        font-weight: 400;
        border-radius: 50%;
        color: $main;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }
}

@media screen and (max-width: 1200px){
    .projects__static .pr-6{
        right: 3%;
    }
}

@media screen and (max-width: 1000px){
    .projects .section__descr{
        width: 80%;
    }
    .projects__years{

    }
    .projects__col:nth-child(1) {
        width: 100%;
    }
    .projects__block_pre{
        height: auto;
    }
    .projects__col:nth-child(1) .projects__year{
        top: 0;
        width: 107px;
        height: 107px;
        left: -53px;
        font-size: 35px;
    }
    .projects__col:nth-child(1) {
        width: 100%;
        padding-left: 75px;
        padding-top: 25px;
    }
    .projects__block_first{
        height: 150px;
    }
    .projects__years{
        border-top: 0 solid #000;
        margin-top: -85px;
    }
    .projects__line{
        height: 7px;
        background:  #00599d;
        width: 96%;
        margin-top: -38px;
    }
    .projects__blocks{
        display: none;
    }
    .projects__block_first{
        border-color: transparent;
    }
    .projects__years{
        width: 100%;
    }
    .owl-active-act{
        .projects__year{
            width: 140px !important;
            height: 140px !important;
            top: -16px !important;
            left: -73px !important;
            border: 3px solid #cd1338;
            font-size: 48px !important;
            color: #cd1338;
        }
        .projects__block_pre{
            border-color: #cd1338;
        }
        .projects__block_first{
            border-color: #cd1338;
        }
        .projects__block-circle{
            background: #cd1338;
        }
        .projects__blocks{
            display: flex;
        }
    }
    .projects__static .pr-1{
        top: auto;
        bottom: -75%;
    }
    .projects__years{
        padding-left: 90px;

   .owl-nav{
       width: 100%;
       display: flex;
       justify-content: space-between;
       position: absolute;
       top: 12.5%;
       .icon-rright{
           font-size: 30px;
       }
       .icon-lleft{
           font-size: 30px;
       }
       left: 0;
   }
   .disabled{
       opacity: 1 !important;

   }
   
   .owl-nav [class*=owl-]:hover{
       background: transparent !important;
   }
    .owl-item .active &:nth-child(2){
        background: red;
    }
}
.projects__static .pr-3{
    right: 20%;
}
}
@media screen and (max-width: 850px){
    .projects__static .pr-2{
        margin-right: 0;
        right: 0;
        width: 100%;
    }
    .projects__static .pr-4{
        left: 20%;
    }.projects__static .pr-3{
        right: 37%;
        top: 18%;
    }
    .projects__static span{
        font-size: 19px;
    }
    .projects__static span b {
        font-size: 30px;
    }
    .projects__static .pr-4{
        top: 65%;
    }
    .projects__static .pr-5 {
        right: 39%;
        top: 48.5%;
    }
    .projects__static .pr-6{
        top: 36%;
        right: 15%;
    }    
}

@media screen and (max-width: 700px){
    .icon-lleft{
        margin-left: -13px;
        margin-bottom: -5px;
    }
    .icon-rright{
        margin-right: -13px;
    }
    .projects__static .pr-4{
        top: 65%;
    }
    .projects__static .pr-5 {
        right: 39%;
        top: 58.5%;
    }
    .projects__static .pr-6{
        top: 45%;
        right: 15%;
    }    
    .projects__static .pr-3{
        top: 27%;
    }
}

@media screen and (max-width: 600px){
    .projects__static .pr-3{
        display: none;
    }
    .projects__static .pr-4{
        left: 5%;
    }
    .projects__static .pr-5{
        right: 47%;
    }
    .projects__static .pr-6{
        right: 20%;
        top: 50%;
    }
    .projects__static .pr-1{
        display: none;
    }
}
@media screen and (max-width: 580px){
.projects__static{
    margin-top: -200px;
}
}
@media screen and (max-width: 500px){
    .projects .section__descr{
        width: 100%;
    }
    .projects__years{
        padding-left: 30px;
    }
    .projects__static .pr-6{
        right: 20px;
    }
    .projects__static .pr-5{
        right: 35%;
    }
    .projects__static .pr-4{
        left: 20px;
    }
    .owl-active-act{
        .projects__year{
            width: 120px !important;
            height: 120px !important;
            top: -1px !important;
            left: -58px !important;
            border: 3px solid #cd1338;
            font-size: 30px !important;
            color: #cd1338;
        }
    }
    .projects__col:nth-child(1) {
        width: 100%;
        padding-left: 52px;
    }
}
@media screen and (max-width: 400px){
    .projects__static span b{
        font-size: 20px;
    }
    .projects__static .pr-4{
        left: 0;
    }
    .projects__static .pr-6{
        right: 0;
    }
}
