.techno{
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    .section__descr{
        width: 50%;
    }
}

@media screen and (max-width: 1350px){
    .process__slider{
        width: 80%;
    }
    .process__slider .owl-nav{
        width: 100%;
        left: 0;
    }
    .icon-prev{
        margin-left: -50px;
    }
    .icon-next{
        margin-right: -50px;
    }
}
@media screen and (max-width: 1000px){
    .techno .section__descr{
        width: 80%;
    }
    .techno__wrapper{
        margin-top: 0;
    }
}
@media screen and (max-width: 700px){
.techno .section__descr {
    width: 100%;
}
}
